@import "tailwindcss";


body {
    font-family: "Inter", sans-serif;
}

/* Custom Styles */
.custom-blue {
    color: #3852a4;
}
.bg-custom-blue {
    background-color: #3852a4;
}
.border-custom-blue {
    border-color: #3852a4;
}
.custom-green {
    color: #2fa64f;
}
.bg-custom-green {
    background-color: #2fa64f;
}
.section-padding {
    padding: 5rem 0;
}
.package-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(56, 82, 164, 0.15);
}
.fadeIn {
    animation: fadeIn 1s ease-in;
}
section {
  scroll-margin-top: 6rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}